{% extends 'base.html' %}

{% block title %}{% endblock %}

{% load static %}

{% block header %}
<header class="masthead text-center text-white">
  <div class="masthead-content">
      <div class="container px-5">
          <h1 class="masthead-heading mb-0">Coffee & Food</h1>
          <h2 class="masthead-subheading mb-0">Good Taste</h2>
      </div>
  </div>
</header>
{% endblock %}

{% block contents %}
<!-- Content section 1-->
<section id="scroll">
  <div class="container px-5">        
        <div class="row gx-5 align-items-center bg-light">
            <div class="col-lg-5 order-lg-2">
                <a href="{% url 'menu:coffee'%}">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="{% static 'img/main_coffee.jpg' %}" alt="..." />
                    </div>
                </a>
            </div>
            <div class="col-lg-7 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">커피 내음...</h2>
                    <p>따뜻한 커피는 우리의 마음을 편안하게 합니다.<br>차가운 커피는 우리의 마음을 시원하게 합니다.<br> 커피로 마음을 느껴보세요.</p>
                </div>
            </div>
        </div>
        
  </div>
</section>

<!-- Content section 2-->
<section>
  <div class="container px-5">
      <div class="row gx-5 align-items-center">
          <div class="col-lg-5">
                <a href="{% url 'menu:beverage' %}">
                    <div class="p-5">
                    <img class="img-fluid rounded-circle" src="{% static 'img/main_store.jpg' %}" alt="..." />
                    </div>
                </a>
          </div>
          <div class="col-lg-7">
              <div class="p-5">
                  <h2 class="display-4">차와 음료</h2>
                  <p>이곳에 가면 좋은 사람들이 있습니다.<br>좋은 사람과 함께 라면 어디라도 행복합니다.<br>그대를 기다립니다.</p>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Content section 3-->
<section>
  <div class="container px-5">
      <div class="row gx-5 align-items-center bg-light">
          <div class="col-lg-5 order-lg-2">
                <a href="{% url 'menu:food' %}">
                    <div class="p-5">
                    <img class="img-fluid rounded-circle" src="{% static 'img/main_food.jpg' %}" alt="..." />
                    </div>
                </a>
          </div>
          <div class="col-lg-7 order-lg-1">
              <div class="p-5">
                  <h2 class="display-4">향이 좋은 음식</h2>
                  <p>부드럽고 달콤한 케익<br>좋은 사람과 좋은 음식</p>
              </div>
          </div>
      </div>
  </div>
</section>
{% endblock %}